
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<br>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Hi stranger, it's been awhile</h1>
        <br>

        <%= form_tag("/sms/send", method: "post", :id => 'contact-form')  do %>
            <div class="form-group">
              <label for="formGroupExampleInput2">Your Number</label>
              <%= telephone_field_tag(:number) %>
            </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
</body>
<script>

</script>
</html>
